@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="utf-8">
    <title>Weeklyst</title>
    <link rel="stylesheet" href="~/css/noso.css">
    
    <script src="https://kit.fontawesome.com/eac556b4db.js" crossorigin="anonymous"></script>

</head>

<h1 class="sob">SOBRE NOSOTROS</h1>

<div class="box">
    <div class="tarj somo">
        <i class="fas fa-users ic"></i>
        <h4 class="tit">¿QUIENES SOMOS?</h4>
        <br>
        <p>
            Weeklyst esta conformado por un grupo de aprendices Sena que busca un mejor futuro en el manejo de las ciencias
            tecnológicas, buscamos comodidad y el manejo mas rápido y optimo de las aplicaciones.
        </p>
    </div>
    <div class="tarj miss">
        <i class="fas fa-globe ic"></i>
        <h4 class="tit">Nuestra mision</h4>
        <br>
        <p>
            Con nuestra aplicación buscamos un mejor manejo del tiempo en la toma de asistencia, que sea mas rápida y mas
            eficiente.
        </p>
    </div>
    <div class="tarj ofre">
        <i class="fab fa-battle-net ic"></i>
        <h4 class="tit">Que ofrecemos</h4>
        <br>
        <p>
            Ofrecemos una aplicación fácil de entender y muy intuitiva que sea fácil de comprender para cualquier tipo de
            usuario y que la toma de asistencia sea correcta y rápida.
        </p>
    </div>
    <div class="video">
        <video class="vide" src="~/Imagenes/Fondo Tecnológico HD.mp4" muted loop autoplay></video>
    </div>
</div>



<p>_______________________________________________________________________________________________________________________________</p>

<br>
<br>
<br>

<h1 class="equi">Equipo Weeklyst</h1>



<div class="container__card">

    <div class="card c1">
        <div class="icon">
            <img class="img jor" src="~/Imagenes/jorge.jpg" alt="">
        </div>
        <div class="info__description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nihil dolore doloremque illo sit expedita
                quaerat porro et voluptas corporis laudantium amet accusamus, enim nemo iusto dolores magni tempora sed?
            </p>
            <input type="button" value="Leer mas">
        </div>
    </div>

    <div class="card 2">
        <div class="icon">
            <img class="img jo" src="~/Imagenes/jonas.jpg" alt="">
        </div>
        <div class="info__description">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quisquam numquam eum, corrupti nam
                illum nobis doloremque, aperiam aliquid consequatur dolore cum voluptatem perferendis! Ratione dolorum enim
                quos dolores repudiandae.
            </p>
            <input type="button" value="Leer mas">
        </div>
    </div>

    <div class="card 3">
        <div class="icon">
            <img class="img fra" src="~/Imagenes/franchesca.jpg" alt="">
        </div>
        <div class="info__description">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi hic earum atque excepturi cum sed,
                ratione nemo neque deserunt sapiente molestias dolor culpa similique blanditiis cumque dolore velit. Dolore,
                minus!
            </p>
            <input type="button" value="Leer mas">
        </div>
    </div>

    <div class="card 4">
        <div class="icon">
            <img class="img die" src="~/Imagenes/diego.jpg" alt="">
        </div>
        <div class="info__description">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam corrupti distinctio obcaecati ad esse
                consectetur, saepe placeat repudiandae. Enim minus natus quaerat maiores harum rerum officia, tempora fuga
                molestiae! Iusto!
            </p>
            <input type="button" value="Leer mas">
        </div>
    </div>




</div>

<footer>
    ©Página creada por el equipo Weeklyst™ en sus instalaciones de manera remota
</footer>

<script>src = "~/js/despliegue"</script>





